@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --clr-primary-700: hsl(0, 93%, 68%);  
    --clr-primary-600: hsl(0, 36%, 70%);  

    --clr-neutral-700: hsl(0, 6%, 24%);

    --clr-linear-700: hsl(0, 74%, 74%);
    --clr-linear-600: hsl(0, 80%, 86%);
    --clr-linear-400: hsl(0, 100%, 98%);
    --clr-linear-100: hsl(0, 0%, 100%);
    
    --ff-primary: 'Josefin Sans', sans-serif;

    --fs-900: 4rem;
    --fs-800: 2.5rem;
    --fs-500: 1rem;
    --fs-400: .875rem;

}